#register, #changePassword, #login
{
	width: 50%;
    margin: 0 auto;
	display:table;
}

#register div, #changePassword div, #login div
{
	display:table-row;
}

#register label, #changePassword label, #login label
{
	display:table-cell;
}

#register input, #changePassword input, #login input
{
	display:table-cell;
	padding:5px;
	margin:5px;
}

#register input[type=text], #register input[type=password], #changePassword input[type=text], #changePassword input[type=password], #login input[type=text], #login input[type=password]
{
	width:300px;
}

#catagory_create
{
	display:table;              
}

#catagory_create .tr
{
	display:table-row;
}

#catagory_create label, #catagory_create input
{
    display:table-cell;
	padding:15px;       
}

#catagory_create input[type="text"]
{
	padding:5px;
	width:300px;
	border:1px solid #148e2b;
}

#catagory_create input[type="submit"]
{
	padding:5px;
	background-image:url("../images/button_bg.png");
	background-repeat:repeat-x;
	border:1px solid #287611;
	border-radius:5px;
}

#catagory_create input[type="submit"]:active
{
	background-image:url("../images/button_bg_pressed.png");
	background-repeat:repeat-x;
}

#createCatagory 
{
	padding-bottom:20px;
	border-bottom:1px solid #007B06;
}

#createCatagory .error
{
	padding:10px;
	background-color:#FFB7B8;
	width:690px;
	font-size:12px;
	color:#B40003;
	font-weight:bold;
	border:2px solid #B40003;
}

#createCatagory .success
{
	padding:10px;
	background-color:#B5FFBD;
	width:690px;
	font-size:12px;
	color:#058700;
	font-weight:bold;
	border:2px solid #058700;
}

#listCatagory table,#adminLog table,#questionBlock table
{
        margin-top: 10px;
	width:900px;
	max-width:900px;
	font-size:12px;
	border:1px solid #8ae45c;
}

#listCatagory td, #listCatagory th,#adminLog td,#adminLog th,#questionBlock td,#questionBlock th
{
	padding:10px;
	text-align:center;
	border:1px solid #8ae45c;
}

#listCatagory th,#adminLog th,#questionBlock th
{
	background-color:#8ae45c;
}

#listCatagory td > div,#adminLog td > div,#questionBlock td > div
{
	max-width:400px;
	overflow:hidden;
}

#quizBlock form
{
    padding:20px;
    border:2px solid #878787;
    border-radius: 15px;
    background-color: #e7e7e7;
    background: linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%);  
    background: -moz-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%); 
    background: -webkit-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%); 
}

#quizBlock select
{
    width:200px;
    padding:5px;
    border: 1px solid #878787;
    border-radius: 5px;
}

#quizBlock input
{
    padding: 5px;
    margin: 10px;
}

#questionBlock #shareLink
{
    padding: 5px;
    border:2px solid #878787;
    border-radius: 5px;
    background-color: #e7e7e7;
    background: linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%);  
    background: -moz-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%); 
    background: -webkit-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%);
}

#questionBlock .add_quiz_mc, #questionBlock .add_quiz_tf
{
    padding:5px;
    background-image:url("../images/button_bg.png");
    background-repeat:repeat-x;
    border:1px solid #287611;
    border-radius:5px;
}

#questionBlock .add_quiz_mc:active, #questionBlock .add_quiz_tf:active
{
    background-image:url("../images/button_bg_pressed.png");
    background-repeat:repeat-x;
}

#content input[name=saveQuiz], #content input[name=closeQuiz], #mainquiz input[name=submitQUiz]
{
    margin:10px;
    padding:5px;
    background-image:url("../images/button_bg.png");
    background-repeat:repeat-x;
    border:1px solid #287611;
    border-radius:5px;
}

#content input[name=saveQuiz]:active, #content input[name=closeQuiz]:active, #mainquiz input[name=submitQUiz]:active
{
    background-image:url("../images/button_bg_pressed.png");
    background-repeat:repeat-x;
}

#mainquiz #qBlock
{
    margin-bottom: 10px;
    padding: 5px;
    border:2px solid #878787;
    border-radius: 5px;
    background-color: #e7e7e7;
    background: linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%);  
    background: -moz-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%); 
    background: -webkit-linear-gradient(top, #e7e7e7 0%, #c0c0c0 100%);

}

#mainquiz #question
{
    padding:10px;
}

#mainquiz #answers
{
    padding:10px;
}
