body
{	
	margin:auto;	
	font-family:Verdana;
	background-image:url("../images/background.png");
	background-repeat:repeat;
}

.main
{	
	margin:auto;
    overflow: hidden;
	width:1000px;
	min-height:400px;
    padding-bottom: 20px;
    border-bottom:2px solid #405C1A;
	border-left:2px solid #405C1A;
	border-right:2px solid #405C1A;
	box-shadow: 0px 0px 50px #8ED159;
	background-color:#FFFFFF;
}

#header
{
	background-image:url("../images/header_bg.png");
	background-repeat:repeat-x;
	height:96px;
}

#header .titleimg
{
	width:300px;
	height:59px;
	padding-left:50px;
	vertical-align:middle;
	padding-top:5px;
	float:left;
}

#header ul
{
	float:right;
	padding-right:60px;
	padding-top:5px;
}

#header li
{
	display:inline;	
}

#header ul li a
{
	background-image:url("../images/menu_bg.png");
	background-repeat:repeat-x;
	padding:10px 25px 10px 25px;
	margin-left:10px;
	font-size:14px;
	border-radius:15px;
	text-decoration:none;
	color:#EDFFEE;
}

#navigation {
	margin: 0px;
	text-align: center;
	width: 100%;
}

#navigation ul ul {
	display: none;
}

#navigation ul li:hover > ul {
	display: block;
}

#navigation ul {
	margin:0px;
	padding:0px;
	width:1100px;
	background: #D2FFD4; 
	background: linear-gradient(top, #D2FFD4 0%, #5DD158 100%);  
	background: -moz-linear-gradient(top, #D2FFD4 0%, #5DD158 100%); 
	background: -webkit-linear-gradient(top, #D2FFD4 0%, #5DD158 100%); 
	box-shadow: 0px 0px 9px rgba(64,115,43,0.50);
	list-style: none;
	position: relative;
	display: inline-table;
}

#navigation ul:after {
	content: ""; clear: both; display: block;
}

#navigation ul li {
	float: left;
	width:200px;
}

#navigation ul li:hover {
	background: #8F55B1;
	background: linear-gradient(top, #541887 0%, #8F55B1 70%);
	background: -moz-linear-gradient(top, #541887 0%, #8F55B1 70%);
	background: -webkit-linear-gradient(top, #541887 0%,#8F55B1 70%);
}

#navigation ul li:hover a {
	color: #fff;
}

#navigation ul li a {
	display: block; 
	padding: 15px 20px;
	color:#2F7C2E;
	text-decoration: none;
}	
		
#navigation ul ul {
	background: #8F55B1;
	padding: 0;
	position: absolute;
	top: 100%;
	width:300px;
}

#navigation ul ul li {
	float: none; 
	border-top: 1px solid #8E61CF;
	border-bottom: 1px solid #7B44B0; 
	position: relative;
	width:300px;
}

#navigation ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	

#navigation ul ul li a:hover {
	background: #541887;
}	

#f_content
{
    font-size: 14px;
    margin: 15px;
    text-align: justify;
}

#content
{
	padding: 0px 50px 50px 50px;
}

#content table
{
	width:100%;
}

footer{
    padding: 10px 30px;
    font-size: 13px;
    color:#1f1f1f;
    text-align: center;
}

#register #error, #login #error
{
	padding:10px;
	background-color:#FFB7B8;
	width:690px;
	font-size:12px;
	color:#B40003;
	font-weight:bold;
	border:2px solid #B40003;
}

#register #success, #login #success
{
	padding:10px;
	background-color:#B5FFBD;
	width:690px;
	font-size:12px;
	color:#058700;
	font-weight:bold;
	border:2px solid #058700;
}